
        h2 {
            color: rgb(0, 232, 15);
        }  
        
        body {
            background-color: rgb(131, 182, 235);
            background-image: "mybackground.jpg";
        }

        #nav-table {
                width: 200px;
        }       
                
              
