
        h2 {
            color: rgb(0, 232, 15);
        }  
        
        body {
            background-color: rgb(131, 182, 235);
        }
        
        .box{
                background-image:url("mybackground.jpg");
                padding:800px 600px;
                margin: 200px;
        #nav-table {
                width: 350px;
        }       
                
              
