
        h2 {
            color: rgb(0, 232, 15);
        }  
        
        body {
            background-color: rgb(131, 182, 235);
            background-image: url("mybackground.jpg");
            background-size: auto;
            background-position: center;
        }

        #nav-table {
                width: 350px;
        }       
                
              
