        h1 { 
              margin-right:100px;                 
}
        h2 {
            color: rgb(0, 232, 15);
        }  
        
        body {
            background-color: rgb(131, 182, 235);
        }
        
        .box{
                background-image:url("mybackground.jpg");
                background-size:800px 600px;
        }
        #nav-table {
                width: 350px;
        }       
                
              
