        h1{
                margin-left:10px;               
        }
        #homep1{
                margin-left:10px;
        }
        #aboutp1{
                margin-left:10px;
        }
        #javascriptsp1{
                margin-left:10px;
        }
        #aboutpic2{
                float:left;
                height:10%;
                width:10%;
        }
        #aboutpic1{
                height:10%;
                width:10%;
                float:right;        
        }
        h2 {
            color: rgb(0, 232, 15);
        }  
        
        body {
            background-color: rgb(131, 182, 235);
        }
        
        .box{
                background-image:url("mybackground.jpg");
                background-size:800px 600px;
                width:800px;
                margin:0 auto;
        }
        #nav-table {
                width: 350px;
        }       
                
              
